@import   '@/app/style/abstracts/variable.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
}

.content {
  text-align: center;
  padding: 3rem;

  h1 {
    font-size: 6rem;
    font-weight: 700;
    color: $text-primary;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    color: $text-primary;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.125rem;
    color: $text-secondary;
    margin-bottom: 2rem;
  }
}
