.error-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe5e5;
    color: $danger;
    padding: 12px 16px;
    border-radius: 6px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    z-index: 9;
    min-width: 280px;


    .error-content {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .error-content svg {
        fill: $danger;
    }

    .retry-btn {
        background-color: $white;
        color: $danger;
        border: none;
        padding: 8px 14px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.2s;
    }
}