* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: --apple, 'Manrope', Courier, monospace;
  color: #333333;
  background: #f9fafb;
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

/* Global scrollbar hide (must be last) */
:root,
html,
body,
#__next,
* {
  -ms-overflow-style: none !important;
  /* IE/old Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

*::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: $font-family;
  color: $text-primary;
  background: $bg-secondary;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select {
  font-family: inherit;
}

// Scrollbar
* {
  @include custom-scrollbar;
}