
@import "@/app/style/abstracts/variable.scss";
@import "@/app/style/abstracts/mixins.scss";

.wrapper {
    display: flex;
width: 200px;
flex-direction: column;
align-items: flex-start;


 border: 1px solid #ddd;
 border-radius: 6px;
 background: #fff;

}

.table {
 display: flex;
 flex-direction: column;
}
.row {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px 16px;
 border-bottom: 1px solid #f2f2f2;
}
.groupInfo {
 display: flex;
 flex-direction: column;
}
.groupName {
 font-weight: 500;
}
.role {
 font-size: 12px;
 color: #777;
}
.count {
    
 background: #e8e8ff;
 padding: 2px 8px;
 border-radius: 12px;
 font-size: 12px;
}
.checkbox {
 margin-left: 8px;
}